@model AfterTaste.Models.ContactUs
<body>
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">


                <div class="carousel-inner" role="listbox">

                    <!-- Slide 1 -->
                    <div class="carousel-item active" style="background-image: url(/img/slide/slide-1.jpg);">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">After<span>Taste</span></h2>
                                <p class="animate__animated animate__fadeInUp">
                                    Welcome to AfterTaste! An online community where you
                                    could diverse yourself in the different wonders of FOOD. AfterTaste is a worldwide site where chefs
                                    and cooks are encouraged to publish and share their recipes for the public to see. A platform where
                                    individuals could also enjoy and learn from the multitude of food-related information and be given the
                                    chance to try them out themselves!
                                </p>
                                <div>
                                    <a href="@Url.Action("Index", "Home")#recipe" class="btn-menu animate__animated animate__fadeInUp scrollto">Explore</a>
                                    <a asp-action="AddRecipe" asp-controller="Recipes" class="btn-book animate__animated animate__fadeInUp scrollto">
                                        Share A
                                        Recipe
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 2 -->
                    <div class="carousel-item" style="background-image: url(/img/slide/slide-2.jpg);">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">You <span>HUNGRY?</span></h2>
                                <p class="animate__animated animate__fadeInUp">
                                    Can't decide what to have for breakfast, lunch, or
                                    dinner? Looking for new foods to satisfy your cravings? Wanna try something different and explore the
                                    vast culinary world? If yes? you're on the right site! Feel free to explore and try out the different
                                    recipes from your fellow cooks from around the globe.
                                </p>
                                <div>
                                    <a href="@Url.Action("Index", "Home")#recipe" class="btn-menu animate__animated animate__fadeInUp scrollto">Explore</a>
                                    <a asp-action="AddRecipe" asp-controller="Recipes" class="btn-book animate__animated animate__fadeInUp scrollto">
                                        Share A
                                        Recipe
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 3 -->
                    <div class="carousel-item" style="background-image: url(/img/slide/slide-3.jpg);">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">Share your <span>RECIPE</span></h2>
                                <p class="animate__animated animate__fadeInUp">
                                    Have a recipe you want to share with the world? Let your
                                    creativity fill the hearts and tummies of the AfterTaste commmunity. Do not hesitate to make our
                                    platform your online cookbook and be an inspiration to millions. Grant us the opportunity to publicize
                                    your masterpiece and permit us to give you the chance to be recognized.
                                </p>
                                <div>
                                    <a href="@Url.Action("Index", "Home")#recipe" class="btn-menu animate__animated animate__fadeInUp scrollto">Explore</a>
                                    <a asp-action="AddRecipe" asp-controller="Recipes" class="btn-book animate__animated animate__fadeInUp scrollto">
                                        Share A
                                        Recipe
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                </a>

                <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                </a>

            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Explore Recipe Section ======= -->
        <section id="recipe" class="recipe">
            <div class="container">

                <div class="section-title">
                    <h2> Explore <span>Recipes</span></h2>
                    <p class="pb-2">
                        Discover and widen your knowledge by exploring different from different origins from around the world.
                    </p>
                    <a asp-action="ExploreRecipes" asp-controller="Recipes" class="book-a-table-btn scrollto my-4">Show More</a>

                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <a asp-area="" asp-controller="Recipes" asp-action="Adobo">
                                <div class="pic"><img src="/img/recipe/adobo.jpg" class="img-fluid" alt=""></div>
                            </a>
                            <div class="member-info">
                                <h4>Adobong Manok</h4>
                                <span>Philippines</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-star-fill ms-2 me-1"></i>5</a>
                                    <a href=""><i class="bi bi-heart mx-2"></i></a>
                                    <a href=""><i class="bi bi-arrow-return-right mx-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <a asp-area="" asp-controller="Recipes" asp-action="KoreanFriedChicken">
                                <div class="pic"><img src="/img/recipe/sticky.jpg" class="img-fluid" alt=""></div>
                            </a>
                            <div class="member-info">
                                <h4>Korean Sticky Chicken</h4>
                                <span>South Korea</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-star-fill ms-2 me-1"></i>5</a>
                                    <a href=""><i class="bi bi-heart mx-2"></i></a>
                                    <a href=""><i class="bi bi-arrow-return-right mx-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <a asp-area="" asp-controller="Recipes" asp-action="IndianStew">
                                <div class="pic"><img src="/img/recipe/stew.jpg" class="img-fluid" alt=""></div>
                            </a>
                            <div class="member-info">
                                <h4>Indian Vegetable Stew</h4>
                                <span>India</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-star-fill ms-2 me-1"></i>4.8</a>
                                    <a href=""><i class="bi bi-heart mx-2"></i></a>
                                    <a href=""><i class="bi bi-arrow-return-right mx-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <a asp-area="" asp-controller="Recipes" asp-action="ItalianMeatballs">
                                <div class="pic"><img src="/img/recipe/meatballs.jpg" class="img-fluid" alt=""></div>
                            </a>
                            <div class="member-info">
                                <h4>Italian Meatballs</h4>
                                <span>Italy</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-star-fill ms-2 me-1"></i>4.7</a>
                                    <a href=""><i class="bi bi-heart mx-2"></i></a>
                                    <a href=""><i class="bi bi-arrow-return-right mx-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- Explore Recipes Section -->
        <!-- =======Top Recipes Section ======= -->
        <section id="recipe" class="recipe">
            <div class="container">

                <div class="section-title">
                    <h2> Top Rated <span>Recipes</span></h2>
                    <p class="pb-2">
                        Can't pick which recipe to try out? Go to our Top Rated Recipes page and see which ones are most loved by your fellow AfterTasters!
                    </p>
                    <a asp-action="TopRatedRecipe" asp-controller="Recipes" class="book-a-table-btn scrollto my-4">Show More</a>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <a asp-area="" asp-controller="Recipes" asp-action="Adobo">
                                <div class="pic"><img src="/img/recipe/adobo.jpg" class="img-fluid" alt=""></div>
                            </a>
                            <div class="member-info">
                                <h4>Adobong Manok</h4>
                                <span>Philippines</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-star-fill ms-2 me-1"></i>5</a>
                                    <a href=""><i class="bi bi-heart mx-2"></i></a>
                                    <a href=""><i class="bi bi-arrow-return-right mx-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <a asp-area="" asp-controller="Recipes" asp-action="KoreanFriedChicken">
                                <div class="pic"><img src="/img/recipe/sticky.jpg" class="img-fluid" alt=""></div>
                            </a>
                            <div class="member-info">
                                <h4>Korean Sticky Chicken</h4>
                                <span>South Korea</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-star-fill ms-2 me-1"></i>5</a>
                                    <a href=""><i class="bi bi-heart mx-2"></i></a>
                                    <a href=""><i class="bi bi-arrow-return-right mx-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <a asp-area="" asp-controller="Recipes" asp-action="IndianStew">
                                <div class="pic"><img src="/img/recipe/stew.jpg" class="img-fluid" alt=""></div>
                            </a>
                            <div class="member-info">
                                <h4>Indian Vegetable Stew</h4>
                                <span>India</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-star-fill ms-2 me-1"></i>4.8</a>
                                    <a href=""><i class="bi bi-heart mx-2"></i></a>
                                    <a href=""><i class="bi bi-arrow-return-right mx-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <a asp-area="" asp-controller="Recipes" asp-action="ItalianMeatballs">
                                <div class="pic"><img src="/img/recipe/meatballs.jpg" class="img-fluid" alt=""></div>
                            </a>
                            <div class="member-info">
                                <h4>Italian Meatballs</h4>
                                <span>Italy</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-star-fill ms-2 me-1"></i>4.7</a>
                                    <a href=""><i class="bi bi-heart mx-2"></i></a>
                                    <a href=""><i class="bi bi-arrow-return-right mx-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- Top Rated Recipes Section -->

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container position-relative">

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="row">
                                <div class="form-group col">
                                    <div class="testimonial-item">
                                        <img src="/img/members/Evander.jpg" class="testimonial-img" alt="">
                                        <h3>Evander Villanueva</h3>
                                        <h4>Ceo &amp; Founder</h4>
                                        <div class="stars">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                        </div>
                                        <p>
                                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                            Everyone's A Foodie!
                                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group col">
                                    <div class="testimonial-item">
                                        <img src="/img/members/Andrea.jpg" class="testimonial-img" alt="">
                                        <h3>
                                            Andrea Bandianon
                                        </h3>
                                        <h4>Ceo &amp; Founder</h4>
                                        <div class="stars">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                        </div>
                                        <p>
                                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                            Make it and savor the after taste.
                                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <div class="testimonial-item">
                                        <img src="/img/members/Luis.jpg" class="testimonial-img" alt="">
                                        <h3>Luis Granada</h3>
                                        <h4>Ceo &amp; Founder</h4>
                                        <div class="stars">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                        </div>
                                        <p>
                                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                            Taste the world through your kitchen!
                                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group col">
                                    <div class="testimonial-item">
                                        <img src="/img/members/Mark.jpg" class="testimonial-img" alt="">
                                        <h3>Mark Alicante</h3>
                                        <h4>Ceo &amp; Founder</h4>
                                        <div class="stars">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                        </div>
                                        <p>
                                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                            Discover the wonders of recipes.
                                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <div class="testimonial-item">
                                        <img src="/img/members/Alyssa.jpg" class="testimonial-img" alt="">
                                        <h3>Alyssa Romen</h3>
                                        <h4>Ceo &amp; Founder</h4>
                                        <div class="stars">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                        </div>
                                        <p>
                                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                            Find Delight through your cooking.
                                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                        </p>
                                    </div>
                                </div>


                            </div>

                        </div><!-- End testimonial item -->



                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2><span>Contact</span> Us</h2>
                    <p>
                        Got any questions? Want to become a part of the AfterTaster team? Feel Free to send us a message and we would get back to you!
                    </p>
                </div>
            </div>

            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1986.9831305612981!2d120.99050852263707!3d14.60846311050342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c9ba1de029e7%3A0xdfba8380a7b4eee4!2sUST%20Blessed%20Pier%20Giorgio%20Frassati%20Building!5e0!3m2!1sen!2sph!4v1692549514261!5m2!1sen!2sph"
                        width="100%" height="350px" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="container mt-5">

                <div class="info-wrap">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 info">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>España Blvd, Sampaloc, <br>Manila, 1008 Metro Manila</p>
                        </div>

                        <div class="col-lg-4 col-md-6 info mt-4 mt-lg-0">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>AfterTaste@gmail.com</p>
                        </div>

                        <div class="col-lg-4 col-md-6 info mt-4 mt-lg-0">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p> (02) 3406 1611</p>
                        </div>
                    </div>
                </div>

                <form method="post" class="php-email-form" asp-controller="Home" asp-action="AddContact">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label asp-for="fullName">Your Name</label>
                            <input class="form-control" asp-for="fullName">
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <label asp-for="email">Your Email</label>
                            <input class="form-control" asp-for="email">
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="subject">Subject</label>
                        <input class="form-control" asp-for="subject">
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="message">Message</label>
                        <input class="form-control" asp-for="message">
                    </div>
                    <br />
                    <div class="text-center"><button type="submit" class="sign-up-button" p><center>Submit</center></button></div>
                </form>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->


</body>

</html>
