@model AfterTaste.Models.UserReview

@{
    ViewData["Title"] = "Delete Review";
}

<section id="recipe" class="recipe">
    <div class="add-recipe-container">
        <div class="container">
            <h1 class="display-6">Delete Review</h1>
            <div class="row">
                <div class="col-md-12">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <form asp-action="DeleteReview" asp-controller="Recipes" method="post">
                        <input type="hidden" asp-for="reviewId" value="@Model.reviewId" />

                        <div class="form-group">
                            <label asp-for="Rating">Rating</label>
                            <input asp-for="Rating" class="form-control" readonly />
                            <span asp-validation-for="Rating" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="comment">Comment</label>
                            <textarea asp-for="comment" class="form-control" rows="4" readonly></textarea>
                            <span asp-validation-for="comment" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Delete Review" class="btn btn-danger" />
                            <a asp-action="RecipeDetails" asp-route-id="@Model.RecipeId" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
