@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Sign Up</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section id="recipe" class="recipe">
      <div class="sign-up-container">
        <div class="container">
          <h2 class="h2-sign">
            Explore your taste buds and <span>be an AfterTaster.</span>
          </h2>
         
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1">First name</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1">Last name</label>
                </div>
              </div>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3">Username</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form3Example4" class="form-control" />
              <label class="form-label" for="form3Example4">Password</label>
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center mb-4">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
              <p>
                By signing up, you agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy
                  Policy</a>, including <a href="#">Cookie Use</a>.
              </p>
            </div>

            <div class="text-center">
                    <p>Have an account already? <a asp-area="" asp-controller="Register" asp-action="SignIn"> Sign in</a>! </p>
              <!-- Submit button -->
              <button type="submit" class="sign-up-button">Sign Up</button>
            </div>


        </div>
       
      </div>
    </section><!-- Top Recipe Section -->

  </main><!-- End #main -->