@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Sign In</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section id="recipe" class="recipe">
      <div class="sign-up-container">
        <div class="container">
          <h2 class="h2-sign">
            Explore your taste buds and <span>be an AfterTaster.</span>
          </h2>
          
            <!-- 2 column grid layout with text inputs for the first and last names -->

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3">Username</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form3Example4" class="form-control" />
              <label class="form-label" for="form3Example4">Password</label>
            </div>



            <div class="text-center">

              <!-- Submit button -->
              <button type="submit" class="sign-up-button">Sign In</button>
            </div>


        </div>
        
      </div>
    </section><!-- Top Recipe Section -->

  </main><!-- End #main -->