@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">



            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url(/img/slide/slide-1.jpg);">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">Welcome to After<span>Taste</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- End Here -->
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("/img/chefs-bg.jpg");'>
            </div>

            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

                <div class="content">
                    <h3>What is <strong>AfterTaste</strong></h3>
                    <p>
                        AfterTaste is an online platform where great chefs and aspiring cooks share their dishes and recipes on
                        our page to be viewed, tried and experienced.
                    </p>
                    <p class="fst-italic">
                        What we offer :
                    </p>
                    <ul>
                        <li><i class="bx bx-check-double"></i> Wide variety of recipes that are quick and simple to prepare.</li>
                        <li><i class="bx bx-check-double"></i> Top and trending recipes for food enthusiasts to try.</li>
                        <li><i class="bx bx-check-double"></i> Recipes that are catered to suit your daily and healthy diet.</li>
                    </ul>
                </div>

            </div>

        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Member Section ======= -->
<section id="chefs" class="chefs">
    <div class="container">

        <div class="section-title">
            <h2>Members of After<span>Taste</span></h2>
            <br><br>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="member">
                    <div class="pic"><img src="/img/members/Evander.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Evander Villanueva</h4>
                        <span>
                            HI! My name is Evander Prynz R. Villanueva, I am from Las Pinas City, and I was born on February 1,
                            2002. I like to listen to music, play sports and video games, and watch anime, series, and movies. I am
                            also an IT Student that specializes on Web and Mobile App Development. I would like to use my knowledge
                            and skills that I have learned in this track to make it easier for people to interact and collaborate
                            with one another in this digital world.
                        </span>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member">
                    <div class="pic"><img src="/img/members/Andrea.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Andrea Bandianon</h4>
                        <span>
                            Hello, my name is Nicole Andrea Bandianon. I am a student from the IT department, currently pursuing
                            "Web and Mobile App Development" as my specialization . I consider myself a determined individual with a
                            kind and optimistic personality. I am passionate about cooking as a means of connecting with people and
                            building relationships with them. That’s why we created this website to inspire other people’s palates
                            and experience the magic of goodness in every meal.
                        </span>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member">
                    <div class="pic"><img src="/img/members/Luis.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Luis Granada</h4>
                        <span>
                            HELLO WORLD! I am LUIS ENRICO GRANADA, born on December 08, 2002 and is from Mandaluyong City. My
                            hobbies include playing games, watching series and movies, hanging out with friends and just likes to
                            relax and be happy.

                            I am an aspiring IT Professional. I am optimistic and an ambivert, I also like working in teams and see
                            joy in getting to know other people. If you're a fellow programmer, I hope to get the opportunity to
                            work with you and take on multiple challenges together as we both strive in our field. :D
                        </span>

                    </div>
                </div>
            </div>

        </div>

        <div class="d-flex row justify-content-center">

            <div class="col-lg-4 col-md-6 ">
                <div class="member">
                    <div class="pic"><img src="/img/members/Mark.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mark Alicante</h4>
                        <span>
                            Hello Everyone, My name is Mark Clarence Alicante, I am an IT Student who specializes in Web and
                            Mobile Development. I would like to learn more and use the knowledge that I have and will learn into
                            creating innovative and user-friendly applications for both web and mobile platforms.
                        </span>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member">
                    <div class="pic"><img src="/img/members/Alyssa.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Alyssa Romen</h4>
                        <span>
                            Hey there! I'm Alyssa Marie R. Romen, hailing from Nasugbu, Batangas. I'm in my 3rd year of
                            Information Technology studies. Creating and designing websites has become my thing, and I'm on track to
                            becoming a full stack developer someday. When I'm not coding, you'll find me grooving to music, diving
                            into books, or cruising around town. I've got a soft spot for cooking too – it fuels my determination
                            for this project!.

                        </span>

                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Member Section -->